<header class="header">
  <h1>test</h1>
  <div class="header__container">
    <a class="header__logo" href="/">
      <img
        class="header__logo-image"
        src="'../../../../assets/images/logo.svg"
        alt="Film! logo"
      />
    </a>
    <nav class="header__menu">
      <a class="header__menu-item" href="#">Главная</a>
      <a class="header__menu-item" href="#">Посмотреть лоты</a>
      <a class="header__menu-item" href="#">Об аукционе</a>
    </nav>
    <button class="header__basket">
      <span
        class="header__basket-counter"
        data-element="basket"
        data-component="basket"
        >0</span
      >
    </button>
  </div>
</header>
